name: Clean schedule

on:
  push:
    branches:
      - tokens
  workflow_dispatch:

jobs:
  clean:
    name: Clean
    runs-on: ubuntu-latest

    steps:
    - name: Create empty directory
      run: mkdir tokens

    - name: Add README
      run: cp ./README.md ./tokens

    - name: Commit and push
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: tokens
        FOLDER: tokens
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SQUASH_HISTORY: true
        SKIP_EMPTY_COMMITS: false
        MESSAGE: "Cleaned the repository"
        COMMIT_NAME: "github-actions[bot]"
        COMMIT_EMAIL: "github-actions[bot]@users.noreply.github.com"
